
html, body, div.app {
    height: 100%;
}

div.pirate {
    position: relative;
    width: 48%;
    height: 80%;
    float: left;
    border: 1px solid red;
}

div#leftPirate {
    background: url('../img/pirate-1.png') no-repeat;
    background-size: contain;
}

div#rightPirate {
    background: url('../img/pirate-2.png') no-repeat;
    background-size: contain;
}


